html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  margin: auto;
}

Link {
  margin: auto;
}

* {
  box-sizing: border-box;
}

.store_container {
  display: absolute;
  text-align: center;
}

table {
  margin: auto;
}

.timer {
  text-align: center;
  margin: auto;
  border: red 1px;
}

.center {
  display: block;
  text-align: center;
}

h1 {
  margin: auto;
}

p {
  display: block;
  font-family: verdana;
  font-size: 20px;
}

.login_button {
  margin-top: 20px;
}

.green_jeans {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 240px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  cursor: pointer;
}

table.header {
  table-layout: fixed;
  width: 500px;
}

table.header td.header_col {
  width: 300px;
  text-align: center;
}

/* Store Icons */
.item_icon_image {
  width: 140px;
  height: 140px;
  margin: 15px;
}

.cart_button {
  text-align: center;
}

.cart_button:hover {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.right {
  text-align: right;
}

.about_text {
  text-decoration: bold;
}

.title {
  padding-bottom: 50px;
}


.title_top {
  padding-top: 50px;
}